* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
}
.inner-main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logo {
  text-align: center;
  font-family: Geneva, Tahoma, sans-serif;
  padding: 2rem 0 3.5rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}
.products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}
.SideBar {
  width: 30%;
  max-height: 100vh;
  padding: 1rem;
  position: sticky;
  top: 0%;
  margin-left: 2rem;
}
.cart {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
